<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.6" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="1.4.1.485" targetFramework="net461" />
  <package id="Xceed.Wpf.ListBox" version="2.9.15603.14400" targetFramework="net461" />
</packages>